.cartBtn {
  text-align: center;
  color: var(--primary-color);
  height: 2rem;
  border-radius: var(--border-radius);
  font-size: 0.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.cartBtnImg {
  height: 1.5rem;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.removeCartBtn {
  cursor: pointer;
  border-radius: 100%;
  border: none;
  background: white;
}
.removeCartBtn:hover {
  color: red;
}

.bottomCtn {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.checkoutBtn {
  border-radius: var(--border-radius);
  border: 1px var(--primary-black) solid;
  background: white;
  color: var(--primary-black);
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 4rem;
}
