.gameFormCtn {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: fit-content;
  margin: 5rem auto;
  text-align: right;
  color: var(--primary-white);
}
.gameFormCtn input {
  margin-left: 5rem;
}

.releaseInput {
  width: 12.6rem;
}

.submitBtn {
  border-radius: var(--border-radius);
  width: 20rem;
  padding: 0.5rem 1rem;
  margin-top: 10rem;
  align-self: flex-end;
  border: none;
}

.tagsCard {
  width: fit-content;
  font-size: 14px;
  padding: 5px;
  background-color: var(--primary-blue);
  color: #66c0f4;
  margin-right: 4px;
  border-radius: 4px;
}

.tagsCtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  color: var(--primary-white);
}

.formHeader {
  margin: 1rem 0;
  font-size: var(--title-two);
  text-align: center;
  color: var(--primary-white);
}

.autoCompleteInput {
  width: 10rem;
}

.tagsLabel {
  display: flex;
  justify-content: center;
  color: var(--primary-white);
  gap: 5rem;
  margin-left: 8.79rem;
  text-align: right;
}

.removeTagBtn {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--primary-white);
  transition: transform 0.2s;
}

.removeTagBtn:hover {
  color: red;
  transform: scale(1.5);
}

.marginBottom {
  margin-bottom: 13rem;
}

.cancelBtn {
  border-radius: var(--border-radius);
  width: 8rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  align-self: flex-end;
}

.bottomBtns {
  display: flex;
  width: 30svw;
  justify-content: space-between;
}
