.formCtn {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: fit-content;
}

.tagsCard {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
  width: fit-content;
  font-size: 0.7rem;
}

.tagsCtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
