.gameDevPageCtn {
  min-height: 90svh;
  color: var(--primary-white);
}

.gameDevGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.leftGrid {
  padding: 1rem;
}

.rightGrid {
  padding: 1rem;
  line-height: 1.5;
}

.linkCtn {
  text-decoration: none;
  color: var(--primary-white);
}

.gameListItem {
  margin-top: 1rem;
}

.gameTitle {
  font-weight: 600;
}
