:root {
  --primary-color: #171a21;
  --primary-blue: #2a475e;
  --secondary-blue: #293f52;
  --highlighting-color: #66c0f4;

  --primary-grey: #474346;
  --primary-white: #c7d5e0;
  --primary-black: #1b2838;

  --border-radius: 1rem;

  --title-one: 3rem;
  --title-two: 2rem;
  --title-three: 1rem;

  font-family: "Roboto", sans-serif;
}
