.crossText {
  color: var(--primary-grey);
  text-decoration: line-through;
  font-size: 0.9rem;
  font-weight: 100;
}

.priceTotal {
  border-top: 2px solid black;
  padding-top: 1rem;
  text-align: left;
  font-weight: 600;
}

.modalCtn {
  margin: 1rem;
  text-align: center;
}

.gameListItem {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.discount {
  margin: 1rem 0;
}

.bold {
  font-weight: 600;
  margin-bottom: 1rem;
}
